{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}Construction{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-8">
        <h1 class="construction-title my-5">This Page is Under Construction...</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4 w-100">
        <img class="w-100" src={% static '/pics/under_construction.jpg' %} />
    </div>
</div>
{% endblock %}
{% block activeLink %}{%if original %}{{ original }}{% endif %}{% endblock %}
